@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: background-color 1s ease;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-header: #afafaf;
  --color-text: #363333;
  --color-content: #d6d2d2;
}

[data-theme="dark"] {
  --color-bg: #6b6b69;
  --color-header: #221f24;
  --color-text: #d3cece;
  --color-content: #353038;
}

[data-theme="light"] #themePicker {
  transition: all 1s ease;
  transform: translateX(-30%);
}
[data-theme="dark"] #themePicker {
  transition: all 1s ease;
  transform: translateX(27%);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #cbcdd4;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #664fce;
    border-radius: 100vh;
    border: 3px solid #4f5055;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #907bda;
  }
}


