---
import PostPreview from "../../../components/PostPreview.astro";
import Config from "../../../utilities.config.cjs";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths({ paginate }) {
    const allPosts = await Astro.glob("../../blog/*.md");
    let allCategories = allPosts
        .filter((f) => f.frontmatter.categories != undefined)
        .map((p) => p.frontmatter.categories);
    let allCategoriesUnique = [...new Set(allCategories.flat())];
    console.log(allCategoriesUnique)
    return allCategoriesUnique.map((category) => {
        const filteredPosts = allPosts.filter((post) => 
            post.frontmatter.categories.includes(category) && post.frontmatter.draft != true
        );
        return paginate(filteredPosts, {
            params: { category },
        });
    });
}

const { page } = Astro.props;
const { params } = Astro;
---

<Layout title="test">
    <p class="text-right">{page.total} {Config.i18n.resultFound}</p>
    <div class="overflow-x-auto w-full">
        <table class="table-normal w-full">
            <tbody>
                <tr>
                    <td>
                        { page.data.map((post) => (  <PostPreview post={post} />)) }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</Layout>