---
import { Image } from '@astrojs/image/components';
import BlogList from '../components/BlogList.astro';
import ProjectList from '../components/ProjectList.astro';
// Component Imports
import Layout from '../layouts/Layout.astro';

const Photos = await Astro.glob('../images/MainPage/*.jpg')
const minH = Math.min(...(Photos.map(photo => photo.default.height)))
---

<Layout title="Home">
	<div class="flex flex-col">
		<div class="flex flex-row p-4 gap-4 bg-slate-300">
			<div class="basis-1/2 flex flex-col gap-4 text-center max-w-lg">
				<div class="font-extrabold text-3xl">
					<p>Welcome</p>
				</div>
				<div class="grid gap-4 font-bold text-lg">
					<p>This site is a personal porfolio and catalogue of my projects.</p>
					<p>I went to school at Fort Lewis in Durango CO where I recived my B.S. in Engineering. After that I worked as an Aerospace Engineer at The Heliospace Corporation 
						for five years, and am now currently teaching myself Web Development.</p>
					<p>Originally from Colorado, I'm currently residing in Bellingham WA, exploring and experienceing the Pacific North West.</p>
				</div>
			</div>
			<div class="basis-1/2 w-full mx-auto">
				<div class="swiffy-slider slider-item-reveal slider-nav-caretfill slider-nav-visible slider-indicators-square">
					<ul class="slider-container">
						{Photos.map(photo => <li class="slide-visible p-2"><div id="slide1"><Image class="shadow-md" alt="" src={photo.default} height={minH} /></div></li> )}
					</ul>
					<button type="button" class="slider-nav"></button>
					<button type="button" class="slider-nav slider-nav-next"></button>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2 p-4 gap-2 bg-indigo-400">
				<BlogList />
				<ProjectList />
		</div>
	</div>
</Layout>
