---
import { Image } from '@astrojs/image/components';
import Marquee from '@components/Marquee.astro';
import Toolbox from '@components/Toolbox.astro';
import FeaturedProjects from '@components/FeaturedProjects.astro';

import Layout from '../layouts/Layout.astro';

import mainPic from '../images/me/1604250876014182408.jpg'
import BlogLayout from 'src/layouts/BlogLayout.astro';

import BlogList from '../components/BlogList.jsx';
const posts = (await Astro.glob('/src/pages/blogs/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Rob Rothschild">
	<div class="flex flex-col p-4 gap-8 place-items-center">
		<div class="grid max-w-[90rem] p-4 gap-4 bg-[color:var(--color-section)] border-2 border-[color:var(--color-border)]">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 text-center ">
				<div class="max-w-2xl flex flex-col gap-4 items-center mx-auto">
					<div class="grid gap-2">
						<p class="font-extrabold text-3xl">Welcome to my Portfolio Site</p>
						<p class="font-bold text-md">I'm a lover of all things Software, Aerospace, and Robotics</p>
					</div>
					<div class="grid gap-2 font-bold text-md pb-4">
						<p>Current based in Bellingham WA, I'm teaching myself web development and other software skills while exporing the PNW. I went to school at Fort Lewis in Durango CO where I recived my B.S. in Engineering. After that I worked as an Aerospace Engineer at The Heliospace Corporation 
							for five years, Proudly working on projects like the James Webb Space Telescope, Mars Sample Return, and the HERMES experiement package going on the Lunar Gateway.</p>
					</div>
					<Toolbox />
				</div>
				<div class="max-w-[40rem] place-self-center">
					<Image class="" alt="JWST Team Photo" format="webp" src={mainPic} />
				</div>
			</div>
			<div class="hidden md:block"><Marquee /></div>
			
		</div>
		<BlogList client:load blogs={posts}/>
		<FeaturedProjects />
	</div>
</Layout>