---
import { Image } from '@astrojs/image/components';
import Marquee from '@components/Marquee.astro';
import Toolbox from '@components/Toolbox.astro';

import BlogList from '../components/BlogList.jsx';
import Layout from '../layouts/Layout.astro';

import mainPic from '../images/me/1604250876014182408.jpg'

const posts = (await Astro.glob('/src/pages/blogs/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Rob Rothschild">
	<div class="flex flex-col pt-12 gap-20 justify-items-center">
		<div class="max-w-[90rem] mx-auto px-2 grid grid-cols-1 lg:grid-cols-2 gap-8 text-center">
			<div class="max-w-2xl flex flex-col gap-8 items-center">
				<div class="font-extrabold text-3xl">
					<p>Welcome to my Portfolio Site</p>
				</div>
				<div class="grid gap-2 font-bold text-md">
					<p>I'm a lover of all things Aerospace, Robotics, and Software</p>
					<p>Current resident of Bellingham WA, I'm teaching myself web development while exporing the PNW. I went to school at Fort Lewis in Durango CO where I recived my B.S. in Engineering. After that I worked as an Aerospace Engineer at The Heliospace Corporation 
						for five years.</p>
				</div>
				<Toolbox />
			</div>
			<div class="max-w-[40rem] place-self-center">
				<Image class="" alt="JWST Team Photo" src={mainPic} />
			</div>
		</div>
		<Marquee />
		<BlogList blogs={posts} client:load />
	</div>
</Layout>