---
import { Image, Picture} from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';
import ProjectSidebar from "../components/Projects/ProjectSidebar.astro";
import ProjectLayout from '../layouts/ProjectLayout.astro';
import ProjectCard from '../components/Projects/ProjectCard.astro';

const AeroProjects = await Astro.glob('./ProjAero/*.md')
const AeroProjectsNonDraft = AeroProjects.filter((post) => !post.frontmatter.draft);
const SoftwareProjects = await Astro.glob('./ProjAero/*.md')
const SoftwareProjectsNonDraft = SoftwareProjects.filter((post) => !post.frontmatter.draft);
const DevProjects = await Astro.glob('./ProjDev/*.md')
const DevProjectsNonDraft = DevProjects.filter((post) => !post.frontmatter.draft);
//console.log(DevProjects)
---


<Layout title="Projects">
	<div class="flex flex-row h-full w-full">
		<ProjectSidebar />
		<div class="flex flex-row p-2 w-full gap-4 overflow-x-scroll scroll-smooth">
			<div class="flex flex-col gap-4">
				{DevProjectsNonDraft.map((proj) => (
					<ProjectCard project={proj} />
				  ))}
			</div>
			<!-- 
			<ProjectLayout title="Software Engineering">
				{SoftwareProjectsNonDraft.map((post) => (
					<ProjectCard props={post} />
				  ))}
			</ProjectLayout>
			<ProjectLayout title="Aerospace Engineering">
				{AeroProjectsNonDraft.map((post) => (
					<ProjectCard props={post} />
				  ))}
			</ProjectLayout>
			-->
		</div>
	</div>
</Layout>