---
import { Image } from '@astrojs/image/components';
import Layout from '../layouts/Layout.astro';

import resume from '../images/RobResume_11-15-2022.png'

---


<Layout title="Resume">
	<div class="flex p-2 mx-auto">
        <Image src={resume} alt="Resume" />
    </div>
</Layout>