---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Resume">
	<div class="flex p-2 mx-auto">
        <div class="resume">
            <embed src="assets/Rothschild_Resume.pdf" width="900px" height="810px" />
        </div>
    </div>
</Layout>