---
import PostPreview from "./PostPreview.astro";

const posts = (await Astro.glob('/src/pages/blogs/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<div class="border border-black ">
    <div class="grid text-center text-xl font-bold w-full p-2 bg-slate-800 text-white">
        <p>Recent Blog Posts</p>
    </div>
    <div class="grid gap-2 h-96 overflow-y-scroll bg-gray-400">
        <ul>
            { posts.map((post) => (<PostPreview post={post} />)) }
        </ul>
    </div>
</div>
