---
import { Image } from '@astrojs/image/components';
import ThemeSwitcher from './ThemeSwitcher';
import MainPic from '../images/me/Main.jpg'
---

<div class="w-full relative p-2 justify-center bg-[color:var(--color-header)] border-b-2 border-[color:var(--color-border)] ">
    <ThemeSwitcher client:load/>
    <div class="flex flex-col md:flex-row mx-auto max-w-[90rem] justify-between">
        <div class="w-full pb-1 md:ml-14 place-self-end text-center md:text-left">
            <a href="../../" class=" text-4xl md:text-[4.5rem] font-extrabold ">Rob Rothschild</a>
        </div>
        <div class="flex gap-6 py-2 md:mr-6">
            <div class="mx-auto font-bold text-lg gap-1">
                <p class="pb-1 underline font-extrabold text-center">Find me on:</p>
                <div class="flex flex-row gap-4 md:gap-1 md:flex-col">
                        <a href="https://github.com/rarothschild" class="button is-small is-github flex">
                            <span class="icon "><i class="pr-2 fab fa-github fa-lg"></i></span>
                            <p>Github</p>
                        </a>
                        <a href="https://www.linkedin.com/in/robert-rothschild-33605aa6" class="flex button is-small is-linkedin">
                            <span class="icon"><i class="pr-2 fab fa-linkedin fa-lg"></i></span>
                            <p>Linkedin</p>
                        </a>
                        <a href="https://www.instagram.com/rothschild.robert/" class="flex button is-small is-instagram">
                            <span class="icon"><i class="pr-2 fab fa-instagram fa-lg"></i></span>
                            <p>Instagram</p>
                        </a>
                </div>
            </div>
            <div class=" hidden lg:grid items-center">
                <Image src={MainPic} alt="Main Photo" height={200} />
            </div>
        </div>
    </div>
</div>

