---
import { Image } from '@astrojs/image/components';

import HeaderLink from './HeaderLink.astro';
import NavBar from './NavBar.astro';

import MainPic from '../images/me/Main.jpg'
---

<style>
    .columns:not(:last-child) {margin-bottom: 0;}
    .column {margin-top: auto;}
    #name {
        font-size: var(--font-size-xl);
        font-weight: bolder;
        text-align: center;
        color: hsl(0, 3%, 30%);
    }
    #contactInfo {
        text-align: center;
    }
</style>

<div class="flex flex-row justify-between bg-[#353038] border-b-stone-600 border-b-8">
    <div class="flex flex-row gap-1 items-end">
        <Image src={MainPic} alt="Main Photo" height={150} />
        <a href="/RobIndustries/" class="text-7xl font-extrabold text-[#d3cece]">Rob Rothschild</a>
    </div>
    <div class="grid items-end" id="contactInfo">
        <div class="flex flex-col font-bold text-lg p-2 m-2 border-2 border-black bg-[#9db170]">
            <p>Contact Info:</p>
            <p>rarothsc@gmail.com</p>
            <div class="flex flex-row justify-center gap-4">
                <a href="https://github.com/rarothschild" class="button is-small is-github">
                    <span class="icon"><i class="fab fa-github fa-lg"></i></span>
                </a>
                <a href="https://www.linkedin.com/in/robert-rothschild-33605aa6" class="button is-small is-linkedin">
                    <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
                </a>
                <a href="https://www.instagram.com/rothschild.robert/" class="button is-small is-instagram">
                    <span class="icon"><i class="fab fa-instagram fa-lg"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>

