---
import { Image } from '@astrojs/image/components';
import ThemeSwitcher from './ThemeSwitcher';
import MainPic from '../images/me/Main.jpg'
---

<div class="relative py-2 bg-[color:var(--color-header)]">
    <ThemeSwitcher client:load/>
    <div class="mx-auto flex flex-col md:flex-row max-w-7xl justify-between">
        <div class=" basis-1/2 w-full pb-1 text-center place-self-center">
            <a href="../../" class=" text-6xl md:text-6xl font-extrabold ">Rob Rothschild</a>
        </div>
        <div class="flex flex-row p-2 mr-4">
            <div class=" px-6 font-bold text-lg gap-1">
                <p class="pb-1 underline font-extrabold text-center">Find me on:</p>
                <div class="flex flex-row gap-4 md:gap-1 md:flex-col">
                        <a href="https://github.com/rarothschild" class="button is-small is-github flex">
                            <span class="icon "><i class="pr-2 fab fa-github fa-lg"></i></span>
                            <p>Github</p>
                        </a>
                        <a href="https://www.linkedin.com/in/robert-rothschild-33605aa6" class="flex button is-small is-linkedin">
                            <span class="icon"><i class="pr-2 fab fa-linkedin fa-lg"></i></span>
                            <p>Linkedin</p>
                        </a>
                        <a href="https://www.instagram.com/rothschild.robert/" class="flex button is-small is-instagram">
                            <span class="icon"><i class="pr-2 fab fa-instagram fa-lg"></i></span>
                            <p>Instagram</p>
                        </a>
                </div>
            </div>
            <div class="hidden md:block">
                <Image src={MainPic} alt="Main Photo" height={125} />
            </div>
        </div>
    </div>
</div>

