---
import { Image } from '@astrojs/image/components';






import logo1 from '../images/logos/logoPython.png'
import logo2 from '../images/logos/logoMatlab.png'
import logo3 from '../images/logos/logoJS.png'
import logoTS from '../images/logos/logoTS.jpg'
import logo4 from '../images/logos/logoHtml.png'
import logo5 from '../images/logos/logoCss.png'
const logosLanguages = [logo1,logo2,logo3,logoTS,,logo4,logo5]

import logoSolid from '../images/logos/logoSolid.png'
import logoReact from '../images/logos/logoReact.png'
import logoDjango from '../images/logos/logoDjango.jpeg'
import logoAstro from '../images/logos/logoAstro.png'
import logoGCP from '../images/logos/logoGCP.png'
const logosFrameworks = [logoSolid,logoReact,logoDjango,logoGCP,logoAstro]

import logo8 from '../images/logos/logoLatex.png'
const logosOther = [logo8]
---

<div class="grid items-center pb-6 divide-y">
    <div class=" px-4 place-self-center "><h2 class="font-bold text-xl">My Toolbox</h2></div>
    <div class="flex flex-row gap-2 p-2 w-[28rem]  mx-auto border-y-2">
        {logosLanguages.map(logo => <Image src={logo} alt="Tool logo" height="50"/>)}
    </div>
    <div class="flex flex-row gap-2 p-2 w-[28rem]  mx-auto border-b-2">
        {logosFrameworks.map(logo => <Image src={logo} alt="Tool logo" height="50"/>)}
    </div>
    <div class="flex flex-row gap-2 p-2 w-[28rem]  mx-auto border-b-2">
        {logosOther.map(logo => <Image src={logo} alt="Tool logo" height="50"/>)}
    </div>
</div>