---
import { Image } from '@astrojs/image/components';

import logo1 from '../images/logos/logoPython.png'
import logo2 from '../images/logos/logoMatlab.png'
import logo3 from '../images/logos/logoJS.png'
import logoTS from '../images/logos/logoTS.jpg'
import logo4 from '../images/logos/logoHtml.png'
import logo5 from '../images/logos/logoCss.png'
const logosLanguages = [logo1,logo2,logo3,logoTS,,logo4,logo5]

import logoSolid from '../images/logos/logoSolid.png'
import logoReact from '../images/logos/logoReact.png'
import logoDjango from '../images/logos/logoDjango.jpeg'
import logoAstro from '../images/logos/logoAstro.png'
import logoGCP from '../images/logos/logoGCP.png'
import logoLatex from '../images/logos/logoLatex.png'
const logosFrameworks = [logoDjango,logoSolid,logoReact,logoGCP,logoAstro,logoLatex]

---

<div class="w-[30rem] grid px-4 py-2  bg-[color:var(--color-content)] border-2 border-[color:var(--color-border)]">
    <div class="mb-2 px-4 py-1 place-self-center border-2 border-[color:var(--color-border)] bg-[color:var(--color-bg)]"><h2 class="font-bold text-xl">My Toolbox</h2></div>
    <div class="divide-y-2 divide-[color:var(--color-border)]">
        <div class="flex gap-2 p-2  mx-auto ">
            {logosLanguages.map(logo => <Image src={logo} alt="Tool logo" height="50"/>)}
        </div>
        <div class="flex gap-2 p-2 pb-0  mx-auto ">
            {logosFrameworks.map(logo => <Image src={logo} alt="Tool logo" height="50"/>)}
        </div>
    </div>
</div>