---
import { Image } from '@astrojs/image/components';
import Layout from './Layout.astro';

export interface Props {
	content: {
		title: string;
		description: string;
        link?: string;
		pubDate?: string;
		updatedDate?: string;
		image?: string;
	};
}

const {
	content: { title, description, link, pubDate, updatedDate, image },
} = Astro.props;

---

<Layout title="Blog">
    <div class="flex flex-col px-8 h-full items-center mx-auto max-w-3xl">
        <div class="py-8">
            {image && <Image height={250} aspectRatio="16:9" format="jpeg" src={image} alt="" />}
        </div>
        <div class="pb-8 text-center text-[#d3cece]">
            <h1 class="font-extrabold text-3xl">{title}</h1>
            { pubDate && <h2 class="font-bold text-xl">{pubDate}</h2> }
            { updatedDate && (<div>Last updated on <time>{updatedDate}</time></div>)}
        </div>
        <div class="grid gap-4 pb-8 font-medium  text-[#d3cece]">
            <slot />
        </div>
    </div>
</Layout>